<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sessions</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<section class="center">
  <h1>Item Returned From Session</h1>
  <%= @session %>
</section>
</body>

</html>