
<form action = '/checkout' method = "Post">
<label> Here, the user will enter an item to purchase.</label>
<input type="text" name="item">
<button type="submit" value="submit">Submit</button>
</form>