<!DOCTYPE html>
<html>
<body>
<form method="POST" action='/checkout'>
Item wish to purchase: <input type="text" id="item" name="item"> 
<button type="submit" id="id" value="submit">Submit</button>
</form>
</body>
</html>